<!DOCTYPE html>
<html>
<head>
    <title>Search Result</title>
</head>
<body>
    <h1>Search Result</h1>
    <p>Entry Name: {{ wordInfo['Word'] }}</p>
    <p>IPA: {{ wordInfo['IPA'] }}</p>
    <p>Part of Speech, Definition: {{ wordInfo['pos_definitions'] }}</p>
    <p>Examples: {{ wordInfo['examples'] }}</p>
    <p>Translation: {{ wordInfo['translations'] }}</p>
    <p>Synonyms: {{ wordInfo['synonyms'] }}</p>
    <p>Antonyms: {{ wordInfo['antonyms'] }}</p>
    <p><a href="/">Back to Search</a></p>
</body>
</html>
